:root {
    --primary: #002e4a;
    --secondary: #00b599;
    --secondary-1: #ffc148;
}

@font-face {
    font-family: farhang;
    src: url(../fonts/farhang.woff2);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-secondary-1 {
    background-color: var(--secondary-1) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-secondary-1 {
    color: var(--secondary-1) !important;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: var(--secondary);
}

.border-secondary-1 {
    border-color: var(--secondary-1) !important;
}

body {
    font-family: farhang;
    font-weight: 900;
    font-size: 16px;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

#header {
    height: 100px;
    background-image: url(../images/header-pattern.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @media (max-width:576px) {
        height: 70px;
    }
}

#container{
    border: 2px #002e4a solid;
    width: 65%;
    margin: auto;

}

/* #sidebar{
    transition: .3s;
} */

#sidebar.active {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
}

.logo-container img {
    @media (max-width:576px) {
        width: 70px;
    }
}

.menu-item-icon {
    width: 20px;
}

#section_one{
    background-image: url(../images/bg-index-section-one.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#section_one .swiper-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#section_two{
    width: 65%;
    
}

#section_two .box1>div.row{
    height: 210px;
}
#section_two .box1>div.row div{
    height: 100px;
}

#section_two .box2{
    height: 208px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#section_two .box2 .img1Box2 {
    width: 138px;
    height: 78px;
    padding-top: 15px;
}

#section_two .box2 .img2Box2 {
    width: 60px;
    height: 80px;
}

#section_two .box1 div img{
    width: 53px;
    height: 56px;
    padding-top: 12px;
}

#section_two div h5 {
    font-weight: bold;
    padding-top: 3px;
}

#section_two .box2 h5 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 16px;
}

#section_two .box1 {
    text-align: center;
    padding-right: 0;

}

@media (max-width:576px) {
    #container {
            width: 80%;
        }
    
        #section_two {
            width: 80%;
        }
    
    #section_two .box1 {
        padding: 0 !important;

    }

    #section_two .box2 {
        height: 150px;
    }

    #section_two .box2 .img1Box2 {
        width: 100px;
        height: 65px;
    }

    #section_two .box2 .img2Box2 {
        width: 48px;
        height: 65px;
    }

}

#section3 div div{
    margin: 0 auto;
}

#section3 .asatid{
    width: 105px;
    height: 105px;
    border: 2px solid rgba(33, 32, 32, 0.754);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#section3 .asatid img{
    width: 100px;
    height: 100px;
    padding: 1px;
}

#section3 > div{
    width: 55%;
    text-align: center;
}

#section3>div h5{
    margin: 20px 0;
    font-size: 19px;
}

#section3>div h6 {
    font-size: 14px;
    padding: 8px 0;
    width: 100px;
    color: white;
    background-color: var(--secondary-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#section3 .title{
    margin: 20px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background-color: var(--primary);
    height: 65px;

}

#section3 .title h4{
    padding-top: 3px;
    font-weight: bold;
}
#section3 .category{
    margin: auto;
    width: 80%;
    text-align: center;
}

#section3 .category div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#section3 .category div>a img {
    width: 110px;
    height: 130px;
}

#section3 .category div>a .img {
    width: 125px;
    height: 130px;
}

#section3 .category div .dot {
    width: 18px;
    height: 18px;
    margin:5px auto;
}

#section3 .category div .dot-start {
    width: 18px;
    height: 18px;
    margin-right: 50%;
}
