

.section1-course{
    margin-top: 100px;
}

.section2-book{
    width: 80%;
    margin: auto;
}

@media (max-width: 576px) {
    .section2-book {
            width: 90%;
     }
}

.section2-book .img-book img{
    width: 200px;
}

@media (max-width: 900px) {
    .section2-book .img-book img {
            width: 212px;
    }
}
.section2-book{
    color: rgb(91, 91, 91);
}

.section2-book i{
    font-size: 12px;
}

.section2-book .save-share i{
    font-size: 25px;
    margin-top:6px ;
}

.section2-book .save-share button {
    background-color: transparent;
    
}

.section2-book .s2-part2{
    /* border: 1px solid rgba(155, 155, 155, 0.585); */
    box-shadow: -2px 5px 11px -5px rgba(191, 191, 191, 0.817);
}

@media (max-width: 576px) {
    .section2-book .s2-part2 { 
        margin-top: 25px;
    }
}

.section2-book .s2-part2 ul{
    border-bottom:1px solid rgba(108, 107, 107, 0.7);
}

.section2-book .s2-part2 ul li {
    margin-top: 12px ;
    padding-bottom:10px;
    width: 120px;
}

.section2-book .s2-part2 ul li.tab-active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.464);
}

.section2-book .s2-part2 ul li a{
    font-size: 18px;
}

.section2-book .s2-part2 .tab .title-tab1 {
    margin: 20px 0;

}

.section2-book .s2-part2 .tab .borders {
    width: 2px;
    height: 30px;
    border-right: 1px solid #616161a2;
    margin: auto 0;
    padding: 0;
}

.section2-book .s2-part2 .tab .percent{
    font-size: 14px;
}

.section2-book .s2-part2 .tab .price{
    font-size: 24px;
}

.title-book{
    width: 100%;
    white-space: unset;

}

@media (max-width: 576px) {
    .title-book {
        width: 60%;

    }
}

.title-book div{
    margin: 3px 0;

}

.section2-store{
    width: 70%;
    margin: auto;
}

.section2-store h5{
    font-size: 1.15rem;
}

.section2-store .title-bookstore i{
    font-size: 14px;
}

.section2-store .img-bookstore img{
    width:150px;
}
