
.section2-course .score{
    color: #bfbdb7;
}

.section2-course div .title-course::after {
    content: " ";
    border-bottom: 1px solid #bfbdb7;
    border-right: 1px solid #bfbdb7;
}

.asatid-courses{
    border-bottom: 2px solid #ffc148;
    border-top: 2px solid #ffc148;
}
.asatid-courses img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.asatid-courses h6{
    font-size: 11px;
    margin: auto;
    color: #bfbdb7;
    font-weight: bold;
}

.asatid-courses .asatid-text{
    top:-15px;
    padding: 0 3px;
}

.asatid-courses .courses-text {
    bottom: -11px;
    padding: 0 3px;
}

.banner{
    width: 72px;
    height: 68px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;


}

.banner img{
    width: 72px;
    height: 68px;

}

.title-banner {
    margin-right: 10px;
    color: #a4a3a0;
}

.title-banner h5{
    font-size: 15px;
}

.title-banner h6,
.title-banner p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}