
.section2-course .score{
    color: #bfbdb7;
}

.section2-course div .title-course::after {
    content: " ";
    border-bottom: 1px solid #bfbdb7;
    border-right: 1px solid #bfbdb7;
}

.asatid-courses{
    border-bottom: 2px solid #ffc148;
    border-top: 2px solid #ffc148;
}
.asatid-courses img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.asatid-courses h6{
    font-size: 11px;
    margin: auto;
    color: #bfbdb7;
    font-weight: bold;
}

.asatid-courses .asatid-text{
    top:-15px;
    padding: 0 3px;
}

.asatid-courses .courses-text {
    bottom: -11px;
    padding: 0 3px;
}

.banner{
    width: 72px;
    height: 68px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;


}

.banner img{
    width: 72px;
    height: 68px;

}

.title-banner {
    margin-right: 10px;
    color: #a4a3a0;
}

.title-banner h5{
    font-size: 15px;
}

.title-banner h6,
.title-banner p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.section2-course2{
    width: 90%;
    margin: auto;
}

.part1-courses2 >ul{
    top: 5px;
    right: -28px;
    z-index: 2;
}

.img-logo-p1c2{
    width: 55px;
}

.part1-c2{
    width: auto;
    font-weight: bold;
}
.border-p1c2 {
    border: 1px solid #ffc148;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.img-course2{
    width: auto;
}

.img-course2 img{
    width: 100%;
    height: 142px;
    object-fit: cover;
}

.part1-c2 .title-part1{
    border-top: 2px solid #ffc148;
    border-bottom: 1px solid #ffc148;
}

.titles-c2 img{
    width: 50px;
}

.titles-c2 .h-title-c2{
    font-size: 13px;
}

.img-ostad-c2 img{
    width: 48px;
}

.btn-abute {
    background-color: #fff1dc;
    font-size: 14px;
}