
.main{
    margin-top: 100px;
}

.section2-course >div{
    height: auto;
    border:1px rgba(29, 29, 29, 0.85) solid;
    border-radius: 5px;
    width: 75%;

}

.section2-course div .title-course img{
    width: 40px;
    height: 40px;
}

.section2-course div .title-course::after {
    content: " ";
    position: absolute;
    right: 68px;
    bottom: -25px;
    width: 32px;
    height: 23px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.section2-course div .score{
    margin: 10px 54px;
    text-align: right;
    width: 60%;
    font-size: 14px;
}

.rate input[type="radio"] {
    opacity: 0;
}

.rate input[type="radio"] {
    cursor: pointer;
}

.rate label:before {
    content: '★ ';
    margin: -16px;
    font-size: 16px;
    color: #bfbeb8;
}

.rate input[type="radio"]:checked~label::before {
    color: #ffc148;
}

.rate input[type="radio"]:hover~label::before {
    color: gold;
}

@media (max-width: 576px) {
    
    .section2-course>div {
        width: 88%;
    }

    .section2-course div .title-course img {
        width: 35px;
        height: 35px;
    }

    .section2-course div .title-course h5 {
        font-size: 18px;
        margin-top: 0 !important;
    }

    .section2-course div .title-course::after {

        right: 25px;
        bottom: -22px;
    }
}
@media (max-width: 992px) {
    .section2-course div .title-course::after {

        right: 27px;
        bottom: -22px;
    }
}

.teaser .img-ostad>img{
    width: 55px;
    height: 55px;
}

.content-teaser{
    height: auto;
    width: auto;
}

.content-teaser video{
    width: 100%;
}

.content-teaser .play-teaser{
    width: 100px;
    margin: auto;
    top:40%;
    left: 40%;
}

.content-teaser .play-teaser button {
    border: none;
    background: transparent;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.content-teaser .play-teaser h5{
    margin:8px auto ;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.content-teaser .play-teaser img{
    width: 40px;
    height: 40px;
    margin: auto;
}

@media (max-width: 576px) {
.teaser .img-ostad h5{
    font-size: 1rem;
    }

    .content-teaser img {
        width: 100%;
        height: 160px;
    }

    .content-teaser .play-teaser {
        top: 25%;
        left: 36%;

    }

    .content-teaser .play-teaser h5 {
        font-size: 14px;
    }

    .content-teaser .play-teaser img {
        width: 35px;
        height: 35px;

    }
}

.part1-col2 div .img-1-part1{
    width: 55px;
    height: 55px;
    padding-bottom: 5px;
    margin-left:5px ;
}

.part1-col2 div .img-2-part1 {
    width: 52px;
    height: 46px;;
    object-fit: cover;
    margin-left: 5px;
}

.part1-col2 div div h6{
    color: #bfbeb8;
    font-weight: bold;
    margin: auto;
}

.part1-col2 button {
    padding: 0 20px;
    margin: 8px 0;
}

.part2-col2 img{
    height: 25px;
    width: 60px;
    margin: 8px 20px;
}

.part2-col2 .title-img-p2c2{
    font-size: 12px;
    margin: auto;
}

.border-col-2{
    border-bottom: 2px solid #ffc148;
    padding-bottom: 2px;
}

@media (max-width: 576px) {
    .part1-col2 {
        width: 84%;
        margin: auto;
    }

    .part2-col2 img {
        width: 65px;

    }

    .part1-col2 button {
        padding: 0 20px;
        margin: 12px auto;
    }

    .part2-col2 h6 {
        font-size: 15px;
    }

    .part2-col2 .institutes-part2{
        margin: 5px 50px;
    }
}

.part-end-course{
    width: 80%;
    margin: auto;
    color: rgb(132, 140, 140);
}

.part-end-course div{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.part-end-course div:nth-child(odd){
    border-bottom:1px solid rgb(132, 140, 140);
}

.part-end-course div:nth-child(even) {
    border-bottom: 1px solid #ffc148;
}

@media (max-width: 930px) {
    .part-end-course {
        gap: 20px;
        margin-bottom: 30px;
    }
}