.main {
  background-image: url(../images/login_bg_img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top: 160px;
}

@media (max-width: 1000px) {
  body > div img {
    left: -18%;
  }
}

.containers {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(249, 249, 249) 0%,
    #fff1dc 81.3%
  );
  width: 68%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  text-align: right;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border: 1px solid #fff1dc;
  position: relative;
}

.logo1{
  border-radius: 50%;
  border: 2px white solid;
  background-color:#fff1dc ;
  width: 75px;
  height: 75px;
  position:absolute;
  top: -40px;
  right: 11%;
}

.logo1 img{
  width: 65px;
  padding: 1px 6px 1px 1px;

}



.containers div {
  padding: 3% 0;
  z-index: 20;
}
.link img {
  width: 30px;
}

.link a {
  text-decoration: none;
  color: #00b599;
  font-weight: bold;
  font-size: 15px;
}

.img-login {
  width: 250px;
}



@media (max-width: 576px) {
  .containers {
    width: 84%;
  }
  .containers div {
    margin: auto;
  }
  .img-login {
    width: 200px;
  }
  .logo1 img{
    padding: 15px 6px 1px 1px;
  }
}
