
.new-navbar{
    background-color: transparent !important;
    border-bottom: none !important;
}

table{
    border-collapse: separate;
    border-spacing: 15px; 
}

.table-panel tr {
    background-color: transparent;
    --bs-table-bg:none;
    border: 1px solid rgb(76, 76, 76) !important;
    border-radius: 10px !important;
}

.table-panel tr td,
.table-panel tr th{

    border-style: none !important;
}