
.menu-right{
    position: fixed;
    height: 90vh;
    width: 200px;
    background-color: #fbebca;
    z-index: 3;
}

.menu-right >div{
    width: 80%;
    margin: auto;
}

.menu-right .list-menu-right a {
    display: inline-flex;
}

.menu-right .list-menu-right div{
    margin: 2px;
}

.menu-right .list-menu-right div h6{
    margin: 6px;
    color: #002e4a;
}

.title-userpanel{
    border: 1px #00b599 solid;
}

.new-navbar{
    margin-top: 100px;
    margin-right: 200px;
    height:86px;
    background-color: #fff7e7;
}

.new-navbar div.row{
    width: 29%;
    margin: 0 65px;
}

@media (max-width: 1240px) {
    .new-navbar div.row{
        width: 39%;
    }
}

.new-navbar div.row .el-odd{
    margin-top:6px ;
}

.new-navbar img {
    font-size: 14px;
    margin: 12px auto 4px auto;
}

.new-navbar h6 {
    font-size: 14px;
    margin: auto;
}

.section-containers{
    margin-right: 200px;
    
}

.shape1 {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #00b599;
    border-radius: 0px 25% 25% 25%;
    transform: rotate(-45deg);
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.rotateClass{
    transform: rotate(-135deg) !important;
}

.shape2 {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #00b599;
    border-radius: 0px 50% 50% 50%;
    transform: rotate(-45deg);
    height: 28px;
    width: 28px;
}

.border-newrequest{
    margin: 12px 18px;
    width: 60%;
    overflow: hidden;
    background-color:#fff7e7 ;
    border: 1px solid rgba(99, 99, 99, 0.344);
}

.head-newrequest{
    background-color:#dcd8cd ;
    padding: 10px 25px 4px 25px;
}
.head-newrequest h5{
    margin: 0;
    font-size: 17px;
    color: #444;
}

.border-newrequest form{
    padding: 6px;
}

.border-newrequest form div{
    margin: 16px 10px;
}

.border-newrequest form h6{
    color: #4e4e4e;
    margin: 1px 3px;
}

.border-newrequest form input,
.border-newrequest form select,
.border-newrequest form textarea{
    width: 380px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid rgba(111, 111, 111, 0.357);
    background-color: #fff;
}

.border-newrequest form .btn-file{
    background-color: #fbebca;
    width: 80px;
    height: 30px;
    border: 1px solid rgba(111, 111, 111, 0.357);
    margin: 3px 35px;
}

.border-newrequest form button {
    background-color: #fbebca;
    border: 1px solid rgba(111, 111, 111, 0.357);
    margin: 3px 20px;
}

@media (max-width: 960px) {
    .menu-right {
        display: none;
}

    .menubar-right{
        display: block !important;
        padding-top: 25px;
        padding-right: 8px;
    }

    .close-right{
        padding-top: 25px;
        display: block !important;
    }

    .close-right i{
        font-size: 40px;
    }

    .menubar-right i{
        font-size: 40px;
    }

    .new-navbar {
        margin-right: 0;
    }

    .new-navbar div.row {
        width: 50%;
        margin: auto;
    }

    .section-containers {
        margin-right: 0;
    }

    .border-newrequest {
        margin: 12px auto;
        width: 65%;
    }
}

@media (max-width: 680px) {
    .new-navbar div.row {
        width: 60%;
        font-size: 13px;
    }

    .border-newrequest {
        width: 85%;
    }

    .border-newrequest form input,
    .border-newrequest form select,
    .border-newrequest form textarea {
        width: 280px;
    }
}

@media (max-width: 490px) {
    .new-navbar div.row {
        width: 90%;
        font-size: 13px;
    }

    .border-newrequest {
        width: 85%;
    }
}

.div-counter2 .text1,
.div-counter2 h6,
.div-counter2 span{
    color: rgb(151, 151, 151);
}

.div-counter2{
    border: 1px solid #013c61b2;
}

.progress {
    width: 320px;
    height: 8px;
}

@media (max-width: 900px) {
    .progress {
        width: 200px ;
    }
    .div-counter2 h5{
        font-size: 19px;
    }
}


.borders-top{
    width: 280px;
    margin: 0 30px;
    border-top: 1px solid #002e4a;
}
