

.table-panel tr td button{
    border:1px solid #002e4a;
    background-color: #fff7e7;
    padding: 4px 10px;
    font-size: 15px;
    font-weight: bold;
}

.table-panel tr:nth-child(even){
    --bs-table-bg: #fff7e7;
}

.table-panel tr:nth-child(odd) {
    --bs-table-bg: #dcd8cd;
}

.table-panel th {
    border-bottom:#dcd8cd ;
    background-color:#b5a890;
}

.table-panel table td:nth-child(1),
.table-panel table td:nth-child(2){
    padding-top: 16px;
}

.head-panel{
    background-color:#dcd8ce ;
    padding: 10px 25px 4px 25px;
}

.border-panel form{
    padding: 6px;
}

.border-panel form div{
    margin: 16px 10px;
}

.border-panel form h6{
    color: #4e4e4e;
    margin: 1px 3px;
}

.border-panel form input,
.border-panel form select,
.border-panel form textarea{
    width: 380px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid rgba(111, 111, 111, 0.357);
    background-color: #fff;
}

.border-panel form .btn-file{
    background-color: #ffefcb;
    width: 80px;
    height: 30px;
    border: 1px solid rgba(111, 111, 111, 0.357);
    margin: 3px 35px;
}

.border-panel form button {
    background-color: #ffefcb;
    border: 1px solid rgba(111, 111, 111, 0.357);
    margin: 3px 20px;
}

@media (max-width: 960px) {
    .border-panel {
        margin: 12px auto;
        width: 65%;
    }
}

@media (max-width: 680px) {
    .new-navbar div.row {
        width: 60%;
        font-size: 13px;
    }

    .border-panel {
        width: 85%;
    }

    .border-panel form input,
    .border-panel form select,
    .border-panel form textarea {
        width: 280px;
    }
}

@media (max-width: 490px) {
    .border-panel {
        width: 85%;
    }
}

@media (max-width: 490px){ 
    .new-navbar div.row {
        width: 90%;
        font-size: 13px;
    }
}