


.section1-teacher{
    margin-top: 140px;
}

.section1-teacher >div{
    width: 90%;
    margin: auto;
}

.section1-teacher .img-teacher{
    box-shadow: -8px 20px 23px -3px rgba(153, 153, 153, 0.63);
    border: 1px solid #d5d9dc;
    height: 370px;
    width: 80%;
    margin: auto;
    border-radius: 5%;
    overflow: hidden;
}

.section1-teacher .img-teacher img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section1-teacher .title-teacher{
    border: 1px solid #d5d9dc;
    box-shadow: 2px 2px 1px #c8c8c8b5;
    border-radius: 10px;
    padding: 6px 15px;
    width: 180px;
    color: #002e4a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section1-teacher .title-teacher i{
    margin: 5px 8px 0 10px;
    font-size: 22px;
}

.section1-teacher .border-teacher{
    margin-top: 145px;
}

.section1-teacher .border-teacher div{
    border: 1px solid #d5d9dc;
    box-shadow: -8px 20px 23px -3px rgba(196, 196, 196, 0.63);
    border-radius: 10px;
    padding: 6px 15px;
    width: 180px;
    color: #646464;
    align-items: center;
    text-align: center;
}

.section1-teacher .border-teacher div i{
    color: #002e4a;
    font-size: 30px;
    font-weight: bold;
}

.section1-teacher .border-teacher div h6{
    color: #002e4a;
    font-size: 15px;
    font-weight: bold;
}

.timeline{
    height: auto;
}

.timeline .title-head-teacher{
    width: 120px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(0, 134, 206),rgb(19, 11, 91)) .5;
    margin-bottom: 90px;
    border-top: 0 ;
    border-left: 0;
    border-right: 0;
}

.timeline-img::before {
    content: "";
    background: #25384468;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-img::after {
    content: "";
    width: 20px;
    height: 20px;
    background: #002e4a;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-left: -10px;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-item {
    width: 100%;
    padding-bottom: 70px;
    position: relative;
}

.timeline-item:nth-child(odd){
    display: flex;
    justify-content: end;
}

.timeline-item:nth-child(even) .timeline-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -13px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item:nth-child(odd) .timeline-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -13px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
    rotate: 180deg;
}

.timeline-item h6{
    color: #002e4a ;
    font-size: 18px;
}

.timeline-item .date{
    color: #8d8d8d;
}



@media (max-width: 1100px) {
    .section1-teacher .img-teacher {
        width: 100%;
        height: 387px;
    }
}

@media (max-width: 765px) {
    .section1-teacher .border-teacher div {
            width: 70%;
            margin: auto;
    }
    .section1-teacher .border-teacher {
        margin-top: 76px;
    }
}


@media (max-width: 708px) {
    .section1-teacher .img-teacher {
        width: 70%;
    }
    .details-teacher{
        width: 70%;
        margin: auto;
    }

    .section1-teacher .border-teacher div {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 550px) {

    .timeline-content {
        margin: auto;
        width: 80%;
    }

    .timeline-img::before {
        content: "";
        display: none;
    }

    .timeline-img::after {
        content: "";
        display: none;
    }
    
}

@media (max-width: 430px) {

    .details-teacher h5{
        font-size: 17px;
    }

    .details-teacher h5 {
        font-size: 17px;
    }

}