<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مبشران | تک درس کاربر</title>
    <link
      rel="shortcut icon"
      href="../assets/images/logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-v5.3.0/bootstrap.rtl.min.css"
    />
    <link rel="stylesheet" href="../assets/vendor/aos/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/panel.css" />
    <link rel="stylesheet" href="../assets/css/lessonPanel.css" />
  </head>

  <body>
    <!-- header -->
    <div
      class="w-100 position-fixed top-0 start-0"
      style="z-index: 30"
      style="z-index: 30"
    >
      <header
        class="d-flex align-items-center justify-content-between container-xxl mx-auto bg-primary rounded-3"
        id="header"
        data-aos="fade-up"
      >
        <div class="d-flex align-items-end gap-5">
          <div class="logo-container" data-aos="fade-left">
            <a href="">
              <img
                width="120"
                src="../assets/images/logo.png"
                alt="لوگو مبشران"
              />
            </a>
          </div>
          <div class="menu-container" data-aos="fade-up">
            <ul
              class="menu-list d-lg-flex d-none align-items-center gap-5 text-secondary"
            >
              <li class="menu-item">
                <a href="./index.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/home.png"
                    alt="home-icon"
                  />
                  <span class="menu-item-text">صفحه اصلی</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./courses.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/courses.png"
                    alt="courses-icon"
                  />
                  <span class="menu-item-text">دوره ها</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./lessons.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/lessons.png"
                    alt="lessons-icon"
                  />
                  <span class="menu-item-text">دروس</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./institutes.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/institutes.png"
                    alt="institute-icon"
                  />
                  <span class="menu-item-text">موسسات</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./atlas.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/atlas.png"
                    alt="atlas-icon"
                  />
                  <span class="menu-item-text">اطلس آموزش</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          data-aos="fade-right"
          class="auth-links-container d-lg-flex d-none text-center gap-2"
        >
          <a class="link-panel rounded-circle" href="signup.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-envelope-fill"></i>
            </div>
          </a>
          <a class="link-panel rounded-circle" href="login.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-arrow-bar-left"></i>
            </div>
          </a>
        </div>
        <div class="d-block d-lg-none">
          <button class="btn btn-secondary" id="open_sidebar_btn">
            <i class="bi-layout-sidebar-inset-reverse"></i>
          </button>
        </div>
      </header>
    </div>

    <div class="main container-xxl p-0 w-100 mb-4">
      <!-- sidebar -->
      <section id="sidebar" class="w-100 h-100 fixed-top" style="right: -100%">
        <div
          class="w-50 bg-primary border-end border-3 border-secondary-1 menu-container h-100 position-relative"
        >
          <button
            id="close_sidebar_btn"
            class="btn btn-secondary p-0 position-absolute end-0 m-3 fs-3"
            style="width: 30px; height: 30px"
          >
            <i class="bi-x"></i>
          </button>
          <ul
            class="menu-list h-100 ps-5 d-flex flex-column justify-content-center gap-5 text-secondary"
          >
            <li class="menu-item">
              <a href="./index.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/home.png"
                  alt="home-icon"
                />
                <span class="menu-item-text">صفحه اصلی</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./courses.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/courses.png"
                  alt="courses-icon"
                />
                <span class="menu-item-text">دوره ها</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./lessons.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/lessons.png"
                  alt="lessons-icon"
                />
                <span class="menu-item-text">دروس</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./institutes.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/institutes.png"
                  alt="institute-icon"
                />
                <span class="menu-item-text">موسسات</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./atlas.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/atlas.png"
                  alt="atlas-icon"
                />
                <span class="menu-item-text">اطلس آموزش</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signin.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ورود</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signup.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ثبت نام</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="menu-right">
        <div class="close-right d-none">
          <i class="bi bi-x text-secondary"></i>
        </div>
        <div class="flex flex-column list-menu-right">
          <div class="title-userpanel d-flex flex-row my-3 bg-light rounded-5">
            <h6>حسین پورعسگری</h6>
            <img
              style="margin-top: 5px"
              class="rounded-circle"
              width="30"
              height="30"
              src="../assets/images/user.png"
              alt=""
            />
          </div>
          <a href="counter.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>آموزش های من</h6>
            </div>
          </a>
          <a href="institutes.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>موسسات من</h6>
            </div>
          </a>

          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>کتابخانه من</h6>
            </div>
          </a>

          <a href="useraccount.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>حساب کاربری</h6>
            </div>
          </a>

          <a href="request.html">
            <div class="d-flex flex-row">
              <div class="shape1 shapes"></div>
              <h6 class="fw-bold">درخواست ها</h6>
            </div>
          </a>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>خروج</h6>
            </div>
          </a>
          <div class="mt-5">
            <img width="75" src="../assets/images/bg-new.png" alt="" />
          </div>
        </div>
      </section>

      <section class="new-navbar">
        <div class="d-flex flex-row">
          <div class="menubar-right d-none">
            <i class="bi bi-three-dots-vertical text-secondary"></i>
          </div>
          <div class="row">
            <div class="col-4 el-odd">
              <a
                href="course.html"
                class="d-flex justify-content-center flex-column mx-auto"
              >
                <img
                  width="33"
                  height="33"
                  src="../assets/images/coursesGreen.png"
                  alt=""
                />
                <h6 class="fw-bold">دوره ها</h6>
              </a>
            </div>

            <div class="col-4">
              <a
                href="counter.html"
                class="d-flex justify-content-center flex-column mx-auto"
              >
                <img
                  width="40"
                  height="40"
                  src="../assets/images/lessonsGreen.png"
                  alt=""
                />
                <h6 class="fw-bold">دروس</h6>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="section-containers">
          <div class="border-panel rounded-4">
            <div class="head-panel">
              <div class="d-flex flex-column w-100">
                <div class="d-flex flex-row">
                  <h6>نام درس:</h6>
                  <h5 class="fw-bold text-primary">
                    شیوه های تفاهم و تعامل در خانواده
                  </h5>
                </div>
                <div class="d-flex flex-row mt-2">
                  <img src="../assets/images/ghaderi.png" alt="" />
                  <div class="mx-2">
                    <h6>استاد:</h6>
                    <p class="fw-bold text-primary">
                      حجت الاسلام والمسلمین فقیهی
                    </p>
                  </div>
                  <div class="mx-3">
                    <div class="d-flex flex-row">
                      <h6>زمان آموزش:</h6>
                      <h6>140</h6>
                    </div>
                    <div class="d-flex flex-row mt-1">
                      <h6>تعداد جلسات:</h6>
                      <h6>14</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="contain-lesson-panel row overflow-x-hidden overflow-y-auto"
            >
              <div class="col-lg-5 col-12 text-center">
                <div
                  dir="ltr"
                  style="
                    height: 400px;
                    overflow-y: scroll;
                    scrollbar-color: #fff7e7 #fff;
                  "
                >
                  <div dir="rtl">
                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btns">مشاهده</button>
                          <button class="btns">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btns">مشاهده</button>
                          <button class="btns">دانلود</button>
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="border-top"></div>
                      <div class="d-flex flex-row my-2 margin-right">
                        <span class="text-secondary-1">جلسه اول:</span>
                        <h6 class="text-primary fw-bold">
                          مقدمه و ضرورت بحث تعامل و تفاهم
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between margin-right">
                        <div class="mt-2">
                          <span>زمان:</span>
                          <span>20</span>
                          <span>دقیقه</span>
                        </div>

                        <div class="d-flex gap-2">
                          <button class="btn">مشاهده</button>
                          <button class="btn">دانلود</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-12 text-center">
                <div class="position-relative">
                  <div
                    class="position-absolute play-teaser"
                    style="top: 35%; left: 50%; transform: translateX(-50%)"
                  >
                    <img
                      width="80"
                      src="../assets/images/film-course.png"
                      alt=""
                    />
                    <div
                      class="position-absolute"
                      style="top: 22%; left: 50%; transform: translateX(-50%)"
                    >
                      <button class="btn-teaser btn">
                        <img
                          width="23"
                          src="../assets/images/play.png"
                          alt=""
                        />
                      </button>
                    </div>
                  </div>
                  <video loop class="video-container">
                    <source src="../assets/images/video.mp4" type="video/mp4" />
                  </video>
                </div>
                <div
                  class="d-flex text-center flex-md-row flex-column justify-content-around title-video-lessonPanel"
                >
                  <div class="text-secondary-1 fw-bold">
                    جلسه اول:
                    <span class="text-primary fw-bold">
                      مقدمه و ضرورت بحث تعامل و تفاهم
                    </span>
                  </div>
                  <a href="listTests.html" class="btn-test mb-3"
                    >لیست آزمون ها</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- scripts -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap-v5.3.0/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
