<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مبشران | ثبت درخواست جدید</title>
    <link
      rel="shortcut icon"
      href="../assets/images/logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-v5.3.0/bootstrap.rtl.min.css"
    />
    <link rel="stylesheet" href="../assets/vendor/aos/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/panel.css" />
    <link rel="stylesheet" href="../assets/css/listTests.css" />
  </head>

  <body>
    <!-- header -->
    <div
      class="w-100 position-fixed top-0 start-0"
      style="z-index: 30"
      style="z-index: 30"
    >
      <header
        class="d-flex align-items-center justify-content-between container-xxl mx-auto bg-primary rounded-3"
        id="header"
        data-aos="fade-up"
      >
        <div class="d-flex align-items-end gap-5">
          <div class="logo-container" data-aos="fade-left">
            <a href="">
              <img
                width="120"
                src="../assets/images/logo.png"
                alt="لوگو مبشران"
              />
            </a>
          </div>
          <div class="menu-container" data-aos="fade-up">
            <ul
              class="menu-list d-lg-flex d-none align-items-center gap-5 text-secondary"
            >
              <li class="menu-item">
                <a href="./index.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/home.png"
                    alt="home-icon"
                  />
                  <span class="menu-item-text">صفحه اصلی</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./courses.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/courses.png"
                    alt="courses-icon"
                  />
                  <span class="menu-item-text">دوره ها</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./lessons.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/lessons.png"
                    alt="lessons-icon"
                  />
                  <span class="menu-item-text">دروس</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./institutes.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/institutes.png"
                    alt="institute-icon"
                  />
                  <span class="menu-item-text">موسسات</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./atlas.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/atlas.png"
                    alt="atlas-icon"
                  />
                  <span class="menu-item-text">اطلس آموزش</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          data-aos="fade-right"
          class="auth-links-container d-lg-flex d-none text-center gap-2"
        >
          <a class="link-panel rounded-circle" href="signup.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-envelope-fill"></i>
            </div>
          </a>
          <a class="link-panel rounded-circle" href="login.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-arrow-bar-left"></i>
            </div>
          </a>
        </div>
        <div class="d-block d-lg-none">
          <button class="btn btn-secondary" id="open_sidebar_btn">
            <i class="bi-layout-sidebar-inset-reverse"></i>
          </button>
        </div>
      </header>
    </div>

    <div class="main container-xxl p-0 w-100 mb-4">
      <!-- sidebar -->
      <section id="sidebar" class="w-100 h-100 fixed-top" style="right: -100%">
        <div
          class="w-50 bg-primary border-end border-3 border-secondary-1 menu-container h-100 position-relative"
        >
          <button
            id="close_sidebar_btn"
            class="btn btn-secondary p-0 position-absolute end-0 m-3 fs-3"
            style="width: 30px; height: 30px"
          >
            <i class="bi-x"></i>
          </button>
          <ul
            class="menu-list h-100 ps-5 d-flex flex-column justify-content-center gap-5 text-secondary"
          >
            <li class="menu-item">
              <a href="./index.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/home.png"
                  alt="home-icon"
                />
                <span class="menu-item-text">صفحه اصلی</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./courses.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/courses.png"
                  alt="courses-icon"
                />
                <span class="menu-item-text">دوره ها</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./lessons.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/lessons.png"
                  alt="lessons-icon"
                />
                <span class="menu-item-text">دروس</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./institutes.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/institutes.png"
                  alt="institute-icon"
                />
                <span class="menu-item-text">موسسات</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./atlas.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/atlas.png"
                  alt="atlas-icon"
                />
                <span class="menu-item-text">اطلس آموزش</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signin.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ورود</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signup.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ثبت نام</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="menu-right">
        <div class="close-right d-none">
          <i class="bi bi-x text-secondary"></i>
        </div>
        <div class="flex flex-column list-menu-right">
          <div class="title-userpanel d-flex flex-row my-3 bg-light rounded-5">
            <h6>حسین پورعسگری</h6>
            <img
              style="margin-top: 5px"
              class="rounded-circle"
              width="30"
              height="30"
              src="../assets/images/user.png"
              alt=""
            />
          </div>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2"></div>
              <h6>آموزش های من</h6>
            </div>
          </a>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2"></div>
              <h6>موسسات من</h6>
            </div>
          </a>

          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2"></div>
              <h6>کتابخانه من</h6>
            </div>
          </a>

          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2"></div>
              <h6>حساب کاربری</h6>
            </div>
          </a>

          <a href="request.html">
            <div class="d-flex flex-row">
              <div class="shape1"></div>
              <h6 class="fw-bold">درخواست ها</h6>
            </div>
          </a>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2"></div>
              <h6>خروج</h6>
            </div>
          </a>
          <div class="mt-5">
            <img width="75" src="../assets/images/bg-new.png" alt="" />
          </div>
        </div>
      </section>

      <section class="new-navbar">
        <div class="d-flex flex-row">
          <div class="menubar-right d-none">
            <i class="bi bi-three-dots-vertical text-secondary"></i>
          </div>
          <div class="row">
            <div class="col-4 el-odd">
              <div class="d-flex justify-content-center flex-column mx-auto">
                <img
                  width="33"
                  height="33"
                  src="../assets/images/lessonsGreen.png"
                  alt=""
                />
                <h6 class="fw-bold">دروس مبشران</h6>
              </div>
            </div>

            <div class="col-4">
              <div class="d-flex justify-content-center flex-column mx-auto">
                <img
                  width="40"
                  height="40"
                  src="../assets/images/lessonsGreen.png"
                  alt=""
                />
                <h6 class="fw-bold">دروس مبشران</h6>
              </div>
            </div>

            <div class="col-4 el-odd">
              <div class="d-flex justify-content-center flex-column mx-auto">
                <img
                  width="33"
                  height="33"
                  src="../assets/images/lessonsGreen.png"
                  alt=""
                />
                <h6 class="fw-bold">دروس مبشران</h6>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="section-containers">
          <div class="border-panel rounded-4">
            <div class="head-panel pb-2">
              <div class="d-flex flex-row">
                <img src="../" alt="" />
                <h5 class="fw-bold">لیست آزمون ها</h5>
              </div>
            </div>
            <div class="contain-list-tests">
              <div class="d-flex flex-row w-100 pb-4">
                <div class="d-flex flex-column part-right-list-test">
                  <div class="border-part1-right rounded-4 mx-md-3 mt-3 mb-2">
                    <div class="h6">
                      <h6 class="fw-bold mx-4 my-2">
                        آزمون آشنایی با بسترهای تبلیغ نوین
                      </h6>
                    </div>
                    <table class="table tbl-list-test">
                      <tr>
                        <td>ردیف</td>
                        <td>شماره آزمون</td>
                        <td>تاریخ</td>
                        <td>نتیجه</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>13562</td>
                        <td>1402/2/6</td>
                        <td>75 از 100</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>65595</td>
                        <td>1402/2/9</td>
                        <td>65 از 100</td>
                      </tr>
                    </table>
                  </div>
                  <div class="border-part2-right rounded-4 mx-md-3 mb-2">
                    <div class="h6">
                      <h6 class="fw-bold mx-4 my-2"></h6>
                    </div>
                    <!-- <table class="table tbl-list-test">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table> -->
                  </div>
                  <div class="border-part2-right rounded-4 mx-md-3 mb-2">
                    <div class="h6">
                      <h6 class="fw-bold mx-4 my-2"></h6>
                    </div>
                    <!-- <table class="table tbl-list-test">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table> -->
                  </div>

                  <div class="warnings mx-md-3 d-flex flex-wrap mx-auto gap-2">
                    <div class="border-warning-list rounded-4 p-3">
                      <div class="d-flex flex-wrap text-primary fw-bold">
                        <div class="d-flex flex-row">
                          <img
                            width="19"
                            height="18"
                            src="../assets/images/icon-warning.png"
                            alt=""
                          />
                          <span class="mx-2">توجه:</span>
                        </div>
                        <span>آزمون قبلی ناقص بود;</span>
                      </div>
                      <h6 class="text-secondary-1">
                        جهت برگذاری مجدد آزمون باید 30 دقیقه از آزمون قبلی شما
                        گذشته باشد
                      </h6>
                    </div>

                    <div class="border-warning-list rounded-4 p-3">
                      <div class="d-flex flex-wrap text-primary fw-bold">
                        <div class="d-flex flex-row">
                          <img
                            width="19"
                            height="18"
                            src="../assets/images/icon-warning.png"
                            alt=""
                          />
                          <span class="mx-2">توجه:</span>
                        </div>
                        <span> همه دروس این آزمون را مشاهده نکردید</span>
                      </div>
                      <h6 class="text-secondary-1">
                        ابتدا همه دورس مرتبط را کامل مشاهده فرمایید و سپس برای
                        آزمون اقدام کنید.
                      </h6>
                    </div>

                    <div class="border-warning-list rounded-4 p-3">
                      <div class="d-flex flex-wrap text-primary fw-bold">
                        <div class="d-flex flex-row">
                          <img
                            width="19"
                            height="18"
                            src="../assets/images/icon-warning.png"
                            alt=""
                          />
                          <span class="mx-2">توجه:</span>
                        </div>
                        <span>آزمون قبلی قبول نشده اید</span>
                      </div>
                      <h6 class="text-secondary-1">
                        جهت برگذاری مجدد آزمون باید 60 دقیقه از آزمون قبلی شما
                        گذشته باشد
                      </h6>
                    </div>
                  </div>
                </div>

                <div class="part-left-list-test">
                  <div class="border-part1-left rounded-4 px-4 pt-4 ml-3 mt-3">
                    <h5 class="fw-bold">اطلاعات آزمون:</h5>
                    <div class="d-flex flex-row">
                      <h6>مدت زمان آزمون:</h6>
                      <span>15 دقیقه</span>
                    </div>
                    <div class="d-flex flex-row">
                      <h6>زمان برگذاری آزمون:</h6>
                      <span>همیشه فعال </span>
                    </div>
                    <div class="d-flex flex-row">
                      <h6>تعداد سوالات تستی:</h6>
                      <span></span>
                    </div>
                    <div class="d-flex flex-row">
                      <h6>تعداد سوالات تشریحی:</h6>
                      <span></span>
                    </div>
                    <div class="d-flex flex-row">
                      <h6>تعداد سوالات فایلی:</h6>
                      <span></span>
                    </div>
                    <div class="d-flex flex-row">
                      <h6>تعداد آزمون های مجاز هرکاربر:</h6>
                      <span></span>
                    </div>
                  </div>
                  <div class="border-part2-left rounded-4 px-4 pt-4 mt-2">
                    <div class="d-flex flex-row">
                      <h5 class="fw-bold">شروع آزمون:</h5>
                    </div>

                    <div class="d-flex flex-column title-part2-left">
                      <h6 class="text-center fw-bold py-4">
                        جهت شروع آزمون روی گزینه زیر کلیک کنید
                      </h6>
                      <button class="btn bg-secondary text-light fw-bold">
                        <a style="padding: 10px 60px" href="test.html"
                          >شروع آزمون</a
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- scripts -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap-v5.3.0/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
