<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مبشران | موسسات من</title>
    <link
      rel="shortcut icon"
      href="../assets/images/logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-v5.3.0/bootstrap.rtl.min.css"
    />
    <link rel="stylesheet" href="../assets/vendor/aos/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/panel.css" />
    <link rel="stylesheet" href="../assets/css/myInstitutions.css" />
  </head>

  <body>
    <!-- header -->
    <div
      class="w-100 position-fixed top-0 start-0"
      style="z-index: 30"
      style="z-index: 30"
    >
      <header
        class="d-flex align-items-center justify-content-between container-xxl mx-auto bg-primary rounded-3"
        id="header"
        data-aos="fade-up"
      >
        <div class="d-flex align-items-end gap-5">
          <div class="logo-container" data-aos="fade-left">
            <a href="">
              <img
                width="120"
                src="../assets/images/logo.png"
                alt="لوگو مبشران"
              />
            </a>
          </div>
          <div class="menu-container" data-aos="fade-up">
            <ul
              class="menu-list d-lg-flex d-none align-items-center gap-5 text-secondary"
            >
              <li class="menu-item">
                <a href="./index.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/home.png"
                    alt="home-icon"
                  />
                  <span class="menu-item-text">صفحه اصلی</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./courses.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/courses.png"
                    alt="courses-icon"
                  />
                  <span class="menu-item-text">دوره ها</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./lessons.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/lessons.png"
                    alt="lessons-icon"
                  />
                  <span class="menu-item-text">دروس</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./institutes.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/institutes.png"
                    alt="institute-icon"
                  />
                  <span class="menu-item-text">موسسات</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./atlas.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/atlas.png"
                    alt="atlas-icon"
                  />
                  <span class="menu-item-text">اطلس آموزش</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          data-aos="fade-right"
          class="auth-links-container d-lg-flex d-none text-center gap-2"
        >
          <a class="link-panel rounded-circle" href="signup.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-envelope-fill"></i>
            </div>
          </a>
          <a class="link-panel rounded-circle" href="login.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-arrow-bar-left"></i>
            </div>
          </a>
        </div>
        <div class="d-block d-lg-none">
          <button class="btn btn-secondary" id="open_sidebar_btn">
            <i class="bi-layout-sidebar-inset-reverse"></i>
          </button>
        </div>
      </header>
    </div>

    <div class="main container-xxl p-0 w-100 mb-4">
      <!-- sidebar -->
      <section id="sidebar" class="w-100 h-100 fixed-top" style="right: -100%">
        <div
          class="w-50 bg-primary border-end border-3 border-secondary-1 menu-container h-100 position-relative"
        >
          <button
            id="close_sidebar_btn"
            class="btn btn-secondary p-0 position-absolute end-0 m-3 fs-3"
            style="width: 30px; height: 30px"
          >
            <i class="bi-x"></i>
          </button>
          <ul
            class="menu-list h-100 ps-5 d-flex flex-column justify-content-center gap-5 text-secondary"
          >
            <li class="menu-item">
              <a href="./index.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/home.png"
                  alt="home-icon"
                />
                <span class="menu-item-text">صفحه اصلی</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./courses.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/courses.png"
                  alt="courses-icon"
                />
                <span class="menu-item-text">دوره ها</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./lessons.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/lessons.png"
                  alt="lessons-icon"
                />
                <span class="menu-item-text">دروس</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./institutes.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/institutes.png"
                  alt="institute-icon"
                />
                <span class="menu-item-text">موسسات</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./atlas.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/atlas.png"
                  alt="atlas-icon"
                />
                <span class="menu-item-text">اطلس آموزش</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signin.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ورود</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signup.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ثبت نام</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="menu-right">
        <div class="close-right d-none">
          <i class="bi bi-x text-secondary"></i>
        </div>
        <div class="flex flex-column list-menu-right">
          <div class="title-userpanel d-flex flex-row my-3 bg-light rounded-5">
            <h6>حسین پورعسگری</h6>
            <img
              style="margin-top: 5px"
              class="rounded-circle"
              width="30"
              height="30"
              src="../assets/images/user.png"
              alt=""
            />
          </div>
          <a href="counter.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>آموزش های من</h6>
            </div>
          </a>
          <a href="institutes.html">
            <div class="d-flex flex-row">
              <div class="shape1 shapes"></div>
              <h6 class="fw-bold">موسسات من</h6>
            </div>
          </a>

          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>کتابخانه من</h6>
            </div>
          </a>

          <a href="useraccount.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>حساب کاربری</h6>
            </div>
          </a>

          <a href="request.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>درخواست ها</h6>
            </div>
          </a>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>خروج</h6>
            </div>
          </a>
          <div class="mt-5">
            <img width="75" src="../assets/images/bg-new.png" alt="" />
          </div>
        </div>
      </section>

      <section class="new-navbar">
        <div class="d-flex flex-row">
          <div class="menubar-right d-none">
            <i class="bi bi-three-dots-vertical text-secondary"></i>
          </div>
          <div class="row title-link3">
            <div class="col-4 el-odd">
              <a href="institutes.html">
                <div class="d-flex justify-content-center flex-column mx-auto">
                  <img
                    width="33"
                    height="33"
                    src="../assets/images/myInstitutions.png"
                    alt=""
                  />
                  <h6 class="fw-bold text-center">همه موسسات</h6>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a href="myInstitutions.html">
                <div class="d-flex justify-content-center flex-column mx-auto">
                  <img
                    width="40"
                    height="40"
                    src="../assets/images/myInstitutions.png"
                    alt=""
                  />
                  <h6 class="fw-bold text-center">موسسات ثبت شده من</h6>
                </div>
              </a>
            </div>

            <div class="col-4 el-odd">
              <a href="chosenInstitutions.html">
                <div class="d-flex justify-content-center flex-column mx-auto">
                  <img
                    width="33"
                    height="33"
                    src="../assets/images/myInstitutions.png"
                    alt=""
                  />
                  <h6 class="fw-bold text-center">موسسات منتخب من</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="section-containers">
          <div class="border-panel rounded-4">
            <div class="head-panel pb-2">
              <div class="d-flex flex-row justify-content-between">
                <h5 class="fw-bold pt-1">موسسات فرهنگی من</h5>

                <a
                  class="bg-success text-light rounded-2 py-1"
                  href="newInstitutes.html"
                  >ثبت موسسه جدید</a
                >
              </div>
            </div>
            <div class="list-panel mb-5">
              <ul class="d-flex flex-row ul1">
                <li>شناسه موسسه</li>
                <li>عنوان</li>
                <li style="width: 155px">وضعیت تایید محتوا</li>
                <li>صفحه ی موسسه</li>
                <li>محتوا</li>
                <li style="width: 155px">ویرایش اطلاعات موسسه</li>
              </ul>

              <ul class="d-flex flex-row">
                <li>3561</li>
                <li>موسسه کاظم</li>
                <li style="width: 155px" class="text-success">تایید شده</li>
                <li>@kazem</li>
                <li>رسانه ای احکام</li>
                <li
                  style="width: 155px; border: 1px solid #666; font-size: 15px"
                  class="rounded-2"
                >
                  <a href="newInstitutes.html"> ویرایش اطلاعات موسسه </a>
                </li>
              </ul>

              <ul class="d-flex flex-row">
                <li>3561</li>
                <li>موسسه کاظم</li>
                <li style="width: 155px" class="text-success">تایید شده</li>
                <li>@kazem</li>
                <li>رسانه ای احکام</li>
                <li
                  style="width: 155px; border: 1px solid #666; font-size: 15px"
                  class="rounded-2"
                >
                  <a href="newInstitutes.html"> ویرایش اطلاعات موسسه </a>
                </li>
              </ul>

              <ul class="d-flex flex-row">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>

              <ul class="d-flex flex-row">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- scripts -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap-v5.3.0/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
