<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مبشران | لیست درخواست</title>
    <link
      rel="shortcut icon"
      href="../assets/images/logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-v5.3.0/bootstrap.rtl.min.css"
    />
    <link rel="stylesheet" href="../assets/vendor/aos/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/panel.css" />
    <link rel="stylesheet" href="../assets/css/request.css" />
  </head>

  <body>
    <!-- header -->
    <div
      class="w-100 position-fixed top-0 start-0"
      style="z-index: 30"
      style="z-index: 30"
    >
      <header
        class="d-flex align-items-center justify-content-between container-xxl mx-auto bg-primary rounded-3"
        id="header"
        data-aos="fade-up"
      >
        <div class="d-flex align-items-end gap-5">
          <div class="logo-container" data-aos="fade-left">
            <a href="">
              <img
                width="120"
                src="../assets/images/logo.png"
                alt="لوگو مبشران"
              />
            </a>
          </div>
          <div class="menu-container" data-aos="fade-up">
            <ul
              class="menu-list d-lg-flex d-none align-items-center gap-5 text-secondary"
            >
              <li class="menu-item">
                <a href="./index.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/home.png"
                    alt="home-icon"
                  />
                  <span class="menu-item-text">صفحه اصلی</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./courses.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/courses.png"
                    alt="courses-icon"
                  />
                  <span class="menu-item-text">دوره ها</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./lessons.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/lessons.png"
                    alt="lessons-icon"
                  />
                  <span class="menu-item-text">دروس</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./institutes.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/institutes.png"
                    alt="institute-icon"
                  />
                  <span class="menu-item-text">موسسات</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="./atlas.html" class="menu-item-link">
                  <img
                    class="menu-item-icon"
                    src="../assets/images/atlas.png"
                    alt="atlas-icon"
                  />
                  <span class="menu-item-text">اطلس آموزش</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          data-aos="fade-right"
          class="auth-links-container d-lg-flex d-none text-center gap-2"
        >
          <a class="link-panel rounded-circle" href="signup.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-envelope-fill"></i>
            </div>
          </a>
          <a class="link-panel rounded-circle" href="login.html"
            ><div class="mt-1 px-2">
              <i class="bi bi-arrow-bar-left"></i>
            </div>
          </a>
        </div>
        <div class="d-block d-lg-none">
          <button class="btn btn-secondary" id="open_sidebar_btn">
            <i class="bi-layout-sidebar-inset-reverse"></i>
          </button>
        </div>
      </header>
    </div>

    <div class="main container-xxl p-0 w-100 mb-4">
      <!-- sidebar -->
      <section id="sidebar" class="w-100 h-100 fixed-top" style="right: -100%">
        <div
          class="w-50 bg-primary border-end border-3 border-secondary-1 menu-container h-100 position-relative"
        >
          <button
            id="close_sidebar_btn"
            class="btn btn-secondary p-0 position-absolute end-0 m-3 fs-3"
            style="width: 30px; height: 30px"
          >
            <i class="bi-x"></i>
          </button>
          <ul
            class="menu-list h-100 ps-5 d-flex flex-column justify-content-center gap-5 text-secondary"
          >
            <li class="menu-item">
              <a href="./index.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/home.png"
                  alt="home-icon"
                />
                <span class="menu-item-text">صفحه اصلی</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./courses.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/courses.png"
                  alt="courses-icon"
                />
                <span class="menu-item-text">دوره ها</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./lessons.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/lessons.png"
                  alt="lessons-icon"
                />
                <span class="menu-item-text">دروس</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./institutes.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/institutes.png"
                  alt="institute-icon"
                />
                <span class="menu-item-text">موسسات</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./atlas.html" class="menu-item-link">
                <img
                  class="menu-item-icon"
                  src="../assets/images/atlas.png"
                  alt="atlas-icon"
                />
                <span class="menu-item-text">اطلس آموزش</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signin.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ورود</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="./signup.html" class="menu-item-link">
                <i class="bi-person text-secondary-1"></i>
                <span class="menu-item-text">ثبت نام</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="menu-right">
        <div class="close-right d-none">
          <i class="bi bi-x text-secondary"></i>
        </div>
        <div class="flex flex-column list-menu-right">
          <div class="title-userpanel d-flex flex-row my-3 bg-light rounded-5">
            <h6>حسین پورعسگری</h6>
            <img
              style="margin-top: 5px"
              class="rounded-circle"
              width="30"
              height="30"
              src="../assets/images/user.png"
              alt=""
            />
          </div>
          <a href="counter.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>آموزش های من</h6>
            </div>
          </a>
          <a href="institutes.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>موسسات من</h6>
            </div>
          </a>

          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>کتابخانه من</h6>
            </div>
          </a>

          <a href="useraccount.html">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>حساب کاربری</h6>
            </div>
          </a>

          <a href="request.html">
            <div class="d-flex flex-row">
              <div class="shape1 shapes"></div>
              <h6 class="fw-bold">درخواست ها</h6>
            </div>
          </a>
          <a href="#">
            <div class="d-flex flex-row">
              <div class="shape2 shapes"></div>
              <h6>خروج</h6>
            </div>
          </a>
          <div class="mt-5">
            <img width="75" src="../assets/images/bg-new.png" alt="" />
          </div>
        </div>
      </section>

      <section class="new-navbar">
        <div class="d-flex flex-row">
          <div class="menubar-right d-none">
            <i class="bi bi-three-dots-vertical text-secondary"></i>
          </div>
          <div class="row">
            <div class="col-4 el-odd p-0">
              <a
                href="newrequest.html"
                class="d-flex justify-content-center flex-column mx-auto"
              >
                <i
                  style="font-size: 30px"
                  class="bi bi-file-earmark-plus mx-auto pt-2"
                ></i>
                <h6 class="fw-bold">ثبت درخواست</h6>
              </a>
            </div>

            <div class="col-4 p-0">
              <a
                href="request.html"
                class="d-flex justify-content-center flex-column mx-auto"
              >
                <img
                  width="40"
                  height="40"
                  src="../assets/images/request.png"
                  alt=""
                />
                <h6 class="fw-bold mt-1">لیست درخواست</h6>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="section-containers">
          <div class="border-panel rounded-4">
            <div class="head-panel">
              <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row">
                  <img
                    class="mx-2 d-md-block d-none"
                    width="19"
                    height="22"
                    src="../assets/images/page-tik.png"
                    alt=""
                  />
                  <h5 class="fw-bold pt-1">لیست درخواست ها</h5>
                </div>
                <a href="newrequest.html">ثبت درخواست جدید</a>
              </div>
            </div>
            <div class="table-panel">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="3">شماره درخواست</th>
                    <th colspan="6">عنوان</th>
                    <th colspan="3">وضعیت درخواست</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">12</td>
                    <td colspan="6">درس حجاب باز نمیشود</td>
                    <td colspan="3">
                      <button class="btn">در حال بررسی</button>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">13</td>
                    <td colspan="6">درس حجاب باز نمیشود</td>
                    <td colspan="3">
                      <button class="btn">در حال بررسی</button>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">14</td>
                    <td colspan="6">درس حجاب باز نمیشود</td>
                    <td colspan="3">
                      <button class="btn">در حال بررسی</button>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">15</td>
                    <td colspan="6">درس حجاب باز نمیشود</td>
                    <td colspan="3">
                      <button class="btn">در حال بررسی</button>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3"></td>
                    <td colspan="6"></td>
                    <td colspan="3"></td>
                  </tr>

                  <tr>
                    <td colspan="3"></td>
                    <td colspan="6"></td>
                    <td colspan="3"></td>
                  </tr>

                  <tr>
                    <td colspan="3"></td>
                    <td colspan="6"></td>
                    <td colspan="3"></td>
                  </tr>

                  <tr>
                    <td colspan="3"></td>
                    <td colspan="6"></td>
                    <td colspan="3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- scripts -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap-v5.3.0/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
