<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مبشران | صفحه اصلی</title>
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap-v5.3.0/bootstrap.rtl.min.css"
    />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />
  </head>

  <body>
    <div class="main w-100">
      <section class="mt-5 mb-4">
        <div class="containers">
          <form action="">
            <div
              class="d-flex flex-md-row-reverse my-3 w-100 justify-content-between flex-column gap-md-5"
            >
              <div class="form-right">
                <div class="form-group">
                  <p>نام</p>
                  <input type="text" />
                </div>
                <div class="form-group">
                  <p>نام خانوادگی</p>
                  <input type="text" />
                </div>
                <div class="form-group">
                  <p>کدملی</p>
                  <input type="text" />
                </div>
                <div class="form-group">
                  <p>جنسیت</p>
                  <input type="text" />
                </div>
              </div>
              <div class="form-left mt-5">
                <div class="form-group">
                  <p>شماره همراه</p>
                  <input type="text" />
                </div>
                <div class="form-group">
                  <p>استان</p>
                  <input type="text" />
                </div>
                <div class="form-group">
                  <p>تاریخ تولد</p>
                  <input type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-right pb-0">
                  <h5 class="fw-bold text-center text-md-start">
                    :گروه کاربری
                  </h5>
                </div>
                <div class="col-9 d-flex flex-column">
                  <div>
                    <label>طلبه</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>دانشجو</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>دانش آموز</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>خانه دار</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>کارمند</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>فعال فرهنگی</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>دوره مجازی خانواده های صدرا</label>
                    <input type="radio" name="radio" />
                  </div>
                  <div>
                    <label>خانواده کارمندان سازمان تبلیغات اسلامی</label>
                    <input type="radio" name="radio" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
